*{
    margin: 0;
    padding: 0;
}
.texto1{
    padding-top: 100px;
}
.imgs{
    margin-left: 200px;
}
#qrcode{
    width: 300px;
}
#requisitos{
    width: 300px;
    padding: 15px;
}
.texto2{
    display: block;
    margin-left: 50%;
    margin-top: -17%;
    position: absolute;
}
#titulo2{
    font-family:'Roboto Slab',sans-serif;
    font-size: 18pt;
    font-weight: bold;
}
#descriçao1{
    font-family: 'Open Sans',sans-serif;
    font-size: 17pt;
}
