    *{
        margin: 0;
        padding: 0;
    }
    .menu{
        display: flex;
        position: fixed;
        width: 100%;
        box-shadow: 0px 0px 7px #b1b1b1;
    }
    label[for="bt-menu"]{
        padding: 15px;
        font-family: sans-serif;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        height: 100%;
    }
    .espaço-logo{
        height: 40px;
        padding: 15px;
    }
    #logo{
        height: 100%;
        display: block;
    }
    .itens-menu{
        display: flex;
    }
    .itens-menu ul{
        list-style: none;
        display: flex;
    }
    .itens-menu ul li{
        float: left;
    }
    .itens-menu ul li:hover ul{
        visibility: visible;
    }
    .itens-menu a{
        text-decoration: none;
        padding: 25px;
        display: block;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        width: 130px;
    }
    .itens-menu a:hover {
        font-weight: bold;
    }
    .espaço-cadastro{
        margin-left: 350px;
        font-size: 10pt;
    }
    .espaço-cadastro li a {
        padding-left: 0px;
        padding-right: 0px;
    }
    #descriçao{
        font-family: 'Open Sans',sans-serif;
        font-size: 18pt;
        padding-top: 25px;
    }

    .banner img{
        width: 100%;
    }

    .texto1{
        padding: 50px;
    }

    #titulo1{
        font-family:'Roboto Slab',sans-serif;
        font-size: 36pt;
        font-weight: bold;
    }

    #descriçao{
        font-family: 'Open Sans',sans-serif;
        font-size: 18pt;
        padding-top: 25px;
    }
    
    .tabelas{
        display: flex;
        margin: 0px 50px 50px 50px;
        font-family: 'Roboto',sans-serif;
        font-size: 20px;
    }
    .tabela1{
        padding: 15px;
        box-shadow: 0px 0px 7px #b1b1b1;
        border-radius: 20px;
        margin: 0px 15px 0px 0px
    }
    .tabela2{
        padding: 15px;
        box-shadow: 0px 0px 7px #b1b1b1;
        border-radius: 20px;
    }
    .tabela3{
        padding: 15px;
        box-shadow: 0px 0px 7px #b1b1b1;
        border-radius: 20px;
        margin: 0px 0px 0px 15px
    }
    .titulo{
        font-size: 22pt;
    }


 /* ########################################################### TELA PEQUENA ################################################################# */
    @media(max-width: 800px){
    
    .itens-menu{
        width: 100%;
        float: none;
    }

    #nomezao{
        padding: 5px;
    }
    #titulo1{
        font-family:'Roboto Slab',sans-serif;
        font-size: 18pt;
        font-weight: bold;
    }

    #descriçao{
        font-family: 'Open Sans',sans-serif;
        font-size: 14pt;
        padding-top: 25px;
    }  

    .tabelas{
        font-size: 14pt;
        display: block;
    }
    .tabela1{
        margin-bottom: 10%; 
        margin-left: 0px;
        margin-right: 0px;
    }
    .tabela2{
        margin-bottom: 10%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .tabela3{
        margin-bottom: 10%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .titulo{
        font-size: 22pt;
    }
}