*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #145899;
}
.account-form{
    width: 81%;
    height: 85%;
    background: #ffffff;
    padding: 45px 50px;
    border-radius: 20px;
    position: absolute;
    left: 10%;
    top: 10%;
}
.sessao1{
    padding: 10px;
    display: flex;
    align-items: center;
}
#fotopf{
    width: 220px;
    border-radius: 50%;
}
#nomeUser{
    padding-left: 50px;
    font-family: 'Roboto Slab',sans-serif;
    font-size: 40pt;
}