*{
    background-color:#ffffff;
}
.itens-menu a{
    background-color: #ffffff;
    color: #145899;
}
.itens-menu ul ul li{
    border-color: #145899;
}
.itens-menu ul ul li a{
    background-color: #eeeeee;
}
.itens-menu ul li p{
    background-color: #ffffff;
}
#titulo1{
    color: #145899;
}
.titulo{
    color: #145899;
}
