*{
    background-color:#ffffff;
}
.menu a{
    background-color: #ffffff;
    color: #145899;
}
.menu ul ul li{
    border-color: #145899;
}
.menu ul ul li a{
    background-color: #eeeeee;
}
.menu ul li p{
    background-color: #ffffff;
}
label[for="bt_menu"]{
    background-color: #145899;
    color: #ffffff;
}
/* label[for="bt_darkMode"]{
    background-color: #ffffff;
    color: #2abb51;
}
label[for="bt_darkMode"]:hover{
    background-color: #1a29af;
    color: #ffffff;
} */
