        *{
        margin: 0;
        padding: 0;
    }
    
    

    #descriçao{
        font-family: 'Open Sans',sans-serif;
        font-size: 18pt;
        padding-top: 25px;
    }
    

    label[for="bt_menu"]{
        padding: 5px;
        font-family: 'Segoe UI';
        text-align: center;
        font-size: 30px;
        cursor: pointer;
        width: 50px;
        height: 50px;
    }


    label[for="bt_menu"]{
        display: none;
    }
    .banner img{
        width: 100%;
    }

    .texto1{
        padding: 50px;
    }

    #titulo1{
        font-family:'Roboto Slab',sans-serif;
        font-size: 36pt;
        font-weight: bold;
    }

    #descriçao{
        font-family: 'Open Sans',sans-serif;
        font-size: 18pt;
        padding-top: 25px;
    }
    
    .tabelas{
        display: flex;
        margin: 0px 50px 50px 50px;
        font-family: 'Roboto',sans-serif;
        font-size: 20px;
    }
    .tabela1{
        padding: 15px;
        box-shadow: 0px 0px 7px #b1b1b1;
        border-radius: 20px;
        margin: 0px 15px 0px 0px
    }
    .tabela2{
        padding: 15px;
        box-shadow: 0px 0px 7px #b1b1b1;
        border-radius: 20px;
    }
    .tabela3{
        padding: 15px;
        box-shadow: 0px 0px 7px #b1b1b1;
        border-radius: 20px;
        margin: 0px 0px 0px 15px
    }
    .titulo{
        font-size: 22pt;
    }


 /* ########################################################### TELA PEQUENA ################################################################# */
    @media(max-width: 800px){

    #nomezao{
        padding: 5px;
    }
    #titulo1{
        font-family:'Roboto Slab',sans-serif;
        font-size: 18pt;
        font-weight: bold;
    }

    #descriçao{
        font-family: 'Open Sans',sans-serif;
        font-size: 14pt;
        padding-top: 25px;
    }  

    .tabelas{
        font-size: 14px;
        display: block;
    }
    .tabela1{
        margin-bottom: 10%; 
        margin-left: 0px;
        margin-right: 0px;
    }
    .tabela2{
        margin-bottom: 10%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .tabela3{
        margin-bottom: 10%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .titulo{
        font-size: 22pt;
    }
}